<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../WEB-INF/template.xhtml">

            <ui:define name="content">
                <h1>Points</h1>
                <h:form>
                    Queue size:
                    <h:outputText value="#{receivePointsBean.queueSize}"/><p/>
                    <h:inputText value="#{sendPointsBean.message}"/>
                    <h:commandButton value="Send Message" action="points"
                    actionListener="#{sendPointsBean.sendMessage()}"/>
                </h:form>
                <h:form>
                    <h:commandButton value="Receive Message" action="points"
                    actionListener="#{receivePointsBean.receiveMessage()}"/>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
