<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template.xhtml">

            <ui:define name="content">
                <h:form prependId="false">
                    <h:selectOneRadio value="#{movieBackingBean.movieId}" layout="pageDirection">
                        <c:forEach items="#{movieClientBean.movies}" var="m">
                            <f:selectItem itemValue="#{m.id}" itemLabel="#{m.name}"/>
                        </c:forEach>
                    </h:selectOneRadio>
                    <h:commandButton value="Details" action="movie" />
                    <h:commandButton value="Delete" action="movies" actionListener="#{movieClientBean.deleteMovie()}"/>
                    <h:commandButton value="New Movie" action="addmovie" />
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
