<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template.xhtml">

            <ui:define name="content">
                <h2>Pick a movie</h2>
                <h:form prependId="false">
                    <h:selectOneRadio value="#{booking.movieId}" layout="pageDirection" required="true">
                    <f:selectItems value="#{movieFacadeREST.all}" var="m" itemValue="#{m.id}" itemLabel="#{m.name}"/>
                    </h:selectOneRadio>
                    <h:commandButton id="shows" value="Pick a time" action="showtimes" />
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>