<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template.xhtml">

            <ui:define name="content">
                <h2>Show Timings for <font color="red">#{booking.movieName}</font></h2>
                <h:form>
                    <h:selectOneRadio value="#{booking.startTime}"
                        layout="pageDirection" required="true">
                        <c:forEach items="#{timeslotFacadeREST.all}" var="s">
                        <f:selectItem itemValue="#{s.id},#{s.startTime}"
                        itemLabel="#{s.startTime}"/>
                        </c:forEach>
                    </h:selectOneRadio>
                    <h:commandButton value="Confirm" action="confirm" />
                    <h:commandButton id="back" value="Back" action="booking"
                    immediate="true"/>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
